.box-task{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.box-task div{
    display: flex;
    flex-direction: row;
    width: 70%;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #111;
    padding-right: 20px;
    color: #fff;
}

.but{
    background-color: red;
    border: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform: rotate(45deg)
}